body {
  display: flex
}

/* .pinGrandPa {
  padding-top: 70px;
} */

.pinlist-parent {
  margin-top: 85px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pinlist {
  display: block;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1300px;
  line-height: 0;
   -webkit-column-count: 5;
   -webkit-column-gap: 0px;
   -moz-column-count: 5;
   -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
}

#pinImg {
  width: 236px;
  height: auto;
  display: flex;
  border: 0;
  border-radius: 14px;
  margin: 0px 12px 28px 12px;
  cursor: zoom-in;
}

#pinImg:hover {
  width: 236px;
  height: auto;
  display: flex;
  border: 0;
  border-radius: 14px;
  margin: 0px 12px 28px 12px;
  cursor: zoom-in;
  background-color: grey;
  /* opacity: 20; */
  transform: scale(0.97);
  /* z-index: -2; */
}
/* {
  background: rgba(0, 0, 0, .05);
  border-radius: 8px;
  content: " " !important;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
} */

/* .pinlist { */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  /* width: 100%;
  margin: 80px 40px 0px 40px;
  line-height: 0;
   -webkit-column-count: 5;
   -webkit-column-gap: 0px;
   -moz-column-count: 5;
   -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
} */

@media (max-width: 1299px) {
   .pinlist {
    width: 1040px;
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
   }
  }
@media (max-width: 1039px) {
   .pinlist {
     width: 780px;
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
   }
  }
@media (max-width: 799px) {
   .pinlist {
     width: 520px;
   -moz-column-count:    2;
   -webkit-column-count: 2;
    column-count:        2;
   }
  }






/* display: inline-grid; */
/* flex-flow: column;
align-items: flex-start; */
/* grid-template-columns: 20% 20% 20% 20% 20%; */
